tests/testthat/_snaps/
paper/*.pdf
paper/*.jats
paper/media/
gesla_dataset/
gesla_app/
dev/*.csv
dev/*.parquet
dev/*.txt
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
inst/doc
/doc/
/Meta/
